<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">

	<link rel="stylesheet" th:href="@{/css/join/join.css}">

	<!-- ***** Blog Area Start ***** -->
	<section class="bg-light">
		<div class="container py-4">
			<div align="center" style="height: 50px; margin: 10px auto;">
				<span class="text-dark h1"></span>
			</div>
			<form id="frm" action="/user/join" method="post">
				<div class="form-group">
					<label class="form-label-mt-4">아이디</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" id="userId" name="userId">
					</div>
					<div class="col-md-6" style="text-align:right">
						<button type="button" class="btn btn-secondary" id="idChkBtn" onclick="userIdChk();">중복확인</button>
						<button type="button" class="btn btn-warning" id="changeBtn" disabled="disabled" onclick="changeId();">변경</button>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">비밀번호</label>
					<input type="password" class="form-control" id="userPasswd" name="userPw">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">비밀번호 확인</label>
					<input type="password" class="form-control" id="userPasswdConfirm" name="userPasswdConfirm">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">이름</label>
					<input type="text" class="form-control" id="userName" name="userName">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">성별</label>
					<select class="form-control" id="userGender" name="userGender">
						<option value="남자">남자</option>
						<option value="여자">여자</option>
					</select>
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">생년월일(6자리)</label>
					<input type="number" class="form-control" id="userBirth" name="userBirth" maxlenght="6" pattern="[0-9]*" style="ime-mode:disabled;">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">부서</label>
					<input type="text" class="form-control" id="userDepart" name="userDepart">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">직급</label>
					<input type="text" class="form-control" id="userPosition" name="userPosition">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">모바일</label>
					<input type="text" class="form-control" id="userPhone" name="userPhone">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">직통번호</label>
					<input type="text" class="form-control" id="userTelephone" name="userTele">
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">메일주소</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control" id="mailId" name="mailId">
						</div>
						<div class="col-md-auto" style="padding-top: 5px;">
							<span style="font-weight: bold;">@</span>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" id="mailAddr" name="mailAddr" readonly="readonly">
						</div>
						<div class="col-md-4">
							<select id="mailCheck" name="mailCheck" class="form-control"
							  onchange="setEmailAddr(this.options[this.selectedIndex].value);">
								<option value="none">::선택하세요</option>
								<option value="etc">직접입력</option>
								<option value="naver.com">naver.com</option>
								<option value="daum.net">daum.net</option>
								<option value="gmail.com">gmail.com</option>
								<option value="hotmail.com">hotmail.com</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">주소</label>
					<div class="row">
						<div class="col-md-9" style="text-align:left;">
						<input type="text" class="form-control" style="margin-bottom: 0.5rem;" id="postCode" name="addrPost" readonly="readonly">
					</div>
						<div class="col-md-3" style="text-align:right">
							<button type="button" class="btn btn-info" onclick="searchAddr();">주소찾기</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="text" class="form-control" style="margin-bottom: 0.5rem;" id="addr1" name="addr1" readonly="readonly">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="text" class="form-control" style="" id="addr2" name="addr2">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label-mt-4">권한</label>
					<select class="form-control" id="userAuth" name="userAuth">
						<option value="ADMIN">관리자</option>
						<option value="USER">일반이용자</option>
					</select>		
				</div>
				<div class="row" style="margin-top: 5rem;" align="center">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary" style="margin-right: 5px;" onclick="join();">회원가입</button>
						<button type="button" class="btn btn-secondary">취소</button>
					</div>
				</div>
				
			</form>
		</div>
	</section>
	<!-- ***** Blog Area End ***** -->

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
		let isUserIdChk = false;


		function searchAddr() {
			//다음 api 사용
			daum.postcode.load(function(){
				//우편번호 객체 생성 후 오픈
				new daum.Postcode({
					oncomplete : function(data) {
						console.log(data);
						let fullAddr = ''; // 전체 주소
						let extraAddr = ''; // 추가 주소
						//사용자가 도로명주소를 선택한 경우
						if(data.userSelectedType === 'R') {
							fullAddr = data.roadAddress;
							//법정동이 있는 경우
							if($.trim(data.bname).length > 0) {
								extraAddr  += data.bname;
							}
						}else {
							//지번으로 검색했을 경우
							fullAddr = data.jibunAddress;
						}
						//빌딩 이름이 있을 경우
						if(data.buildingName !== '') {
							//추가주소에 내용이 있는 경우는 쉼표처리하고 붙이고, 없으면 그냥 쓴다.
							extraAddr  += (  extraAddr  !== ''  ?  ',  ' + data.buildingName   :  data.buildingName )
						}
						// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
						fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
						//우편번호
						$('#postCode').val(data.zonecode);

						//주소
						$('#addr1').val(fullAddr);
					}
				}).open();
			});
		}


		function changeId(){
			const isConfirm = confirm('아이디 변경 시\n중복확인을 다시해야합니다\n진행하시겠습니까?');
			if(isConfirm){

				$('#idChkBtn').prop('disabled', false);
				$('#changeBtn').prop('disabled', true);
				isUserIdChk = false;
			}
		}

		function userIdChk() {
			const userId = $('#userId').val();
			isUserIdChk = false ; // 초기화

			if($.trim(userId).length === 0) {
				alert('아이디를 입력하십시오.');
				return false;
			}

			//ajax 를 통해서 서버로부터 id가 존재하는지 확인
			$.ajax({
				url : '/user/checkId',
				type : 'post',
				dataType :'text',
				data :{
					userId : userId
				}
			}).done(function(data){

				if(data === "success") {
					alert('사용가능한 ID 입니다.');
					isUserIdChk = true;

					$('#idChkBtn').prop('disabled', true);
					$('#changeBtn').prop('disabled', false);
				} else {
					alert('이미 등록된 ID 입니다.');
				}

			}).fail(function(xhr, status, error){
				alert('이미 등록된 ID 입니다.');
				console.log(status);
			});

		}


		function validated () {

			const inputAll = document.querySelectorAll("input");
			//유효성 결과를 담을 변수
			let isValid = true;

			if(!isUserIdChk) {
				alert('아이디 중복체크를 실행해주세요');
				isValid = false;
				return false;
			}

			$.each(inputAll,  function(index, obj){
				//input 의 id 값 가져오기
				const inputId = $(obj).attr('id');
				//jquery 객체로 변환
				const checkObj = $('#' + inputId);
				let message = '';

				if(inputId === 'userId') {
					message = "아이디를 입력하십시오.";
				}else if(inputId === 'userPasswd') {
					message = "패스워드를 입력하십시오";
				}else if(inputId === 'userPasswdConfirm') {
					message = "패스워드 확인을 입력하십시오";
				}else if(inputId === 'userName') {
					message = "이름을 입력하십시오";
				}else if(inputId === 'userBirth') {
					message = "생년월일을 입력하십시오.";
				}else if(inputId === 'userPhone') {
					message = "전화번호를 입력하십시오.";
				}else if(inputId === 'userTelephone') {
					message = "유선전화번호를 입력하십시오.";
				}else if(inputId === 'mailId') {
					message = "메일주소를  입력하십시오.";
				}else if(inputId === 'mailAddr') {
					message = "메일서비스 업체를 입력하십시오.";
				}else if(inputId === 'postCode' || inputId ==='addr1') {
					message = "우편번호 검색을 해주십시오.";
				}

				if(inputId !== 'addr2' && inputId !== 'search') {
					if(typeof checkObj ==='undefined' || $.trim( checkObj.val() ).length === 0) {
						alert(message);
						checkObj.focus();
						isValid = false;
						return false;
					}
				}
			});


			if( $('#userPasswd').val() !== $('#userPasswdConfirm').val()) {
				alert('비밀번호 확인이 일치하지 않습니다.!');
				isValid = false;
				return false;
			}


			return isValid;
		}


		function setEmailAddr(optionValue) {
			const mailAddr = $('#mailAddr');
			mailAddr.attr('readOnly', true);
			mailAddr.val('');

			if(optionValue ==='etc'){
				mailAddr.attr('readOnly', false);
			}else if (optionValue !== "none") {
				mailAddr.val(optionValue);
				mailAddr.attr('readOnly', true);
			}
		}


		function join(){
			if(validated()){
				// $('#frm').submit();

				$.ajax({
					url: "/user/join",
					method: 'post',
					data: $('#frm').serialize(),
					dataType: 'text',
					success: function (response) {
						alert(response);
						location.href="/index";
					},
					error: function (xhr, status, error) {
						console.log(xhr, status, error);

						alert('회원가입을 실패 했습니다.');
					}
				});
			}
		}

		//html 준비가 되면 자동으로 실행
		$(document).ready(function(){
			$('.bradcumbTitle').text('유저가입');
			// console.log();
		});

	</script>
</div>
</html>