<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/main_layout}">


<div layout:fragment="content">

	<link rel="stylesheet" th:href="@{/css/login/login.css}">

	<!-- ***** Blog Area Start ***** -->
	<section class="blog-area section_padding_200">
		<div class="container">
			<div id="content">
				<h2 class="text-center">Login</h2>
				<div class="container-fluid">
					<div class="lock-container">
						<div class="panel panel-default wow fadeIn" data-wow-delay="0.2s">
							<div class="panel-body">
								<form class="form col-md-12 center-block">
									<div class="form-group">
										<input type="text" class="form-control input-lg" id="userId" name="userId" placeholder="아이디를 입력하세요.">
									</div>
									<div class="form-group">
										<input type="password" class="form-control input-lg" id="userPasswd" name="userPasswd" placeholder="패스워드를 입력하세요.">
									</div>
									<div class="form-group">
										<button id="login" class="btn btn-primary btn-block">Log In</button>
<!--										<span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>-->
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Blog Area End ***** -->

	<script type="text/javascript">

		function initEvt() {
			const inputIds = ['userId', 'userPasswd'];

			for(let id of inputIds) {
				$('#'+id).on('keyup', function(evt){
					evt.preventDefault();
					if(evt.keyCode === 13){
						login();
					}

				});
			}

			$('#login').on('click', function(evt){
				evt.preventDefault();
				login();
			});
		}

		function validated(){
			//jquery 선택자를 통해 html 객체 가져오기
			const userId = $('#userId');
			const userPasswd = $('#userPasswd');

			//trim 은 공백 제거
			//     한글  --> 한글
			// 한글      --> 한글
			// 한     글 --> 한글
			//          --> 공백만 있을 경우 처리 위해서 씀
			if($.trim(userId.val()).length === 0) {
				alert('아이디를 입력하십시오.');
				userId.focus();
				return false;
			}

			if($.trim(userPasswd.val()).length === 0) {
				alert('패스워드를 입력하십시오.');
				userPasswd.focus();
				return false;
			}
			return true;
		}

		function login() {

			if(validated()) {
				//ajax 통해서 로그인 처리 ; 비동기 통신 사용
				// 1. 페이지 이동없이 client - server 간 통신
				const dataParam = {
					userId : $('#userId').val(),
					userPasswd : $('#userPasswd').val()
				}

				$.ajax({
					url: '/user/login',
					type: 'post',
					contentType: 'application/json',
					dataType: 'text',
					data: JSON.stringify(dataParam)
				}).done(function(resp){
					console.log(resp);
					setCookie('bearer', resp);

					alert("로그인완료");
					location.href="/";

				}).fail(function(xhr, status, error){
					console.log(status);
					alert('아이디 또는 패스워드를 확인하십시오.');
				});
			}
		}

		//html 준비가 되면 자동으로 실행
		$(document).ready(function(){
			$('.bradcumbTitle').text('관리자');
			// console.log();

			initEvt();
		});

	</script>

</div>

</html>
