<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.code.main.calendar.mapper.CommonMapper">
    <select id="selectCommonCodeList" parameterType="String" resultType="hashMap">
        SELECT
            upper_code_id AS upperCodeId
             ,code_id       AS codeId
             ,code_nm       AS codeNm
             ,code_dc       AS codeDc
             ,code_ord      AS codeOrd
             ,code_se       AS codeSe
        FROM
            tbl_cmm_code
        WHERE upper_code_id = #{value}
          AND use_yn = 'Y'
        ORDER BY code_ord
    </select>

</mapper>