<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.code.main.calendar.mapper.CommonMapper">
    <select id="selectCommonCodeList" parameterType="String" resultType="kr.code.main.calendar.vo.CommonVO">
        SELECT
            upper_code_id
             ,code_id
             ,code_nm
             ,code_dc
             ,code_ord
             ,code_se
        FROM
            tbl_cmm_code
        WHERE upper_code_id = #{value}
          AND use_yn = 'Y'
        ORDER BY code_ord
    </select>

</mapper>