<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>No.</span></th>
                                    <th class="text-center"><span>담당자</span></th>
                                    <th class="text-center"><span>의제(안건)</span></th>
                                    <th class="text-center"><span>회의일시</span></th>
                                    <th class="text-center"><span>회의실</span></th>
                                    <th class="text-center"><span>참석자</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="Meet : ${MeetingList}">
                                    <td th:text="${Meet.meet_id}"></td>
                                    <td th:text="${Meet.first_rst_id}"></td>
                                    <td>
                                        <a th:href="@{/meeting/detail/{meetId}(meetId=${Meet.meet_id})}" th:onclick="goDetail([[${Meet.meet_id}]])">
                                            <span th:text="${Meet.meet_title}"></span>
                                        </a>
                                    </td>
                                    <td th:text="${Meet.meet_date}"></td>
                                    <td th:text="${Meet.meet_loc}"></td>
                                    <td th:text="${Meet.meet_loc}"></td>
                                </tr>
                                <tr th:if="${totalSize == 0}">
                                    <td colspan="6">데이터가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btnBox right" style="margin-bottom:15px">
                        <button type="button" class="btn btn-primary" onclick="writeMeeting()">회의작성</button>
                    </div>
                    <div class="paging" id="paging">
                        <ul class="pagination" th:utext="${pageHtml}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        function goDetail(meet_id){
            location.href = "/meeting/detail?meet_id=" + meet_id;
        }
        function writeMeeting() {
            location.href ="/meeting/write";
        }

        $(document).ready(function() {
            $('.bradcumbTitle').text('회의 목록');
        });
    </script>
</div>

</html>