<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="logback-common.xml" />

    <logger name="jdbc.sqlonly" level="debug"/>
    <logger name="jdbc.sqltiming" level="debug"/>
    <logger name="jdbc.resultsettable" level="debug"/>
    <logger name="jdbc.audit" level="off"/>
    <logger name="jdbc.resultset" level="off"/>
    <logger name="jdbc.connection" level="off"/>
    

    <root level="debug">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ASYNC_FILE_LOGGING"/>
        <appender-ref ref="ASYNC_FILE_ERROR_LOGGING"/>
    </root>


</configuration>
