<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <style>
        .bg-light{
            height: 1100px;
            padding-top: 15px;
        }
        .container.py-4 {
            margin: 0 auto;
            width: 503px;
        }
    </style>
</head>

<body>
<section class="bg-light">
    <div class="container py-4"  >
        <div align="center" style="margin: 10px auto" >
            <span class="text-lightblue h4">일정 등록 * [[${paramVO.meetDate}]]</span>
        </div>
        <form id="frm" name="frm" method="post">
        <input type="hidden" id="meetDate" name="meetDate" th:value="${paramVO.meetDate}">
        <input type="hidden" id="userSeqs" name="userSeqs">
        <input type="hidden" id="custSeqs" name="custSeqs">

            <div class="form-group">
                <label for="meetSe" class="form-label-mt-2">구분</label>
                <select id="meetSe" name="meetSe" class="form-control">
                    <option value="">선택</option>
                    <option th:each="list : ${CRM01List}" th:value="${list.codeId}" th:text="${list.codeNm}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="meetHhMi" class="form-label-mt-2">시간</label>
                <select id="meetHhMi" name="meetHhMi" class="form-control">
                    <option value="">선택</option>
                    <option th:each="list : ${CRM04List}" th:value="${list.codeId}" th:text="${list.codeNm}">
                    </option>
                </select>
            </div>
            <div class="form">
                <label class="form-label-mt-4">직원</label>
            </div>
            <div class="row" style="margin-bottom: 1rem">
                <div class="col-md-8" align="left">
                    <input type="text" class="form-control" id="paramUserNm" name="paramUserNm" >
                    <div style="margin-bottom: 30px"></div>
                    <span id="appendUser"></span>
                </div>
                <div class="col-md-4" align="right">
                    <button type = "button" class="btn btn-secondary" onclick="fn_deleteUser();">직원삭제</button>
                </div>
            </div>
            <div class="form">
                <label class="form-label-mt-4">고객</label>
            </div>
            <div class="row" style="margin-bottom: 1rem">
                <div class="col-md-8" align="left">
                    <input type="text" class="form-control" id="paramCustNm" name="paramCustNm" >
                    <div style="margin-bottom: 30px"></div>
                    <span id="appendCust"></span>
                </div>
                <div class="col-md-4" align="right">
                    <button type = "button" class="btn btn-secondary" onclick="fn_deleteCust();">고객삭제</button>
                </div>
            </div>
            <div class="form-group">
                <label for="meetTitle" class="form-label-mt-4">제목</label>
                <input type="text" class="form-control" id="meetTitle" name="meetTitle">
            </div>
            <div class="form-group">
                <label for="meetCn" class="form-label-mt-4">내용</label>
                <textarea class="form-control" id="meetCn" name="meetCn" rows="5" cols="80" maxlength="4000"></textarea>
            </div>
            <div class="form-group">
                <label for="meetLoc" class="form-label-mt-4">장소</label>
                <input type="text" class="form-control" id="meetLoc" name="meetLoc">
            </div>
            <div class="row" style="margin-top: 5rem" align="center">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" style="margin-right: 5px" onclick="javascript:fn_insert();">등록</button>
                    <button type="button" class="btn btn-secondary" onclick="javascript:fn_cancel();">취소</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $(document).ready(function () {
        //자동화 기능_user(직원)
        $("#paramUserNm").autocomplete({
            source: function(request, response){
                $.ajax({
                    type: "post",
                    dataType: "json", //data를 json으로 return 받음
                    url: "/calendar/selectUserList.do", //json으로 데이터를 반환해야함
                    data: {userName: $("#paramUserNm").val()},
                    success: function(data){
                        console.log(data);
                        response($.map(data.resultList, function(item){ //function의 item에 data가 바인딩됨
                            console.log(item);
                            return {
                                label: item.userName+' <'+ item.userId +'>',
                                value: item.userUid
                            }
                        }));
                    },
                    error: function(jqxhr, status, error){
                        alert('문제가 발생하여 작업을 완료하지 못하였습니다');
                    }
                })
            },
            autoFocus: true, //첫번째 값을 자동 focus
            matchContains: true,
            minLength: 1, //1글자 이상 입력해야 autocomplete 작동
            delay: 100, //milliseconds
            scroll: true,
            select: function(event, ui) { //ui에는 선택된 item이 들어가 있음(custom 변수 포함)
                $("#paramUserNm").val('');
                createUser(ui.item.label, ui.item.value);
                return false;
            },
            focus:function(event, ui){return false;} //한글입력시 포커스 이동하면 서제스트가 삭제되므로 focus처리
        });

        //자동화 기능_cust(고객)
        $("#paramCustNm").autocomplete({
            source: function(request, response){
                $.ajax({
                    type: "post",
                    dataType: "json", //data를 json으로 return 받음
                    url: "/calendar/selectCustList.do", //json으로 데이터를 반환해야함
                    data: {custName: $("#paramCustNm").val()},
                    success: function(data){
                        console.log(data);
                        response($.map(data.resultList, function(item){ //function의 item에 data가 바인딩됨
                            console.log(item);
                            return {
                                label: item.custName+' <'+ item.companyName +'>',
                                value: item.custUid
                            }
                        }));
                    },
                    error: function(jqxhr, status, error){
                        alert('문제가 발생하여 작업을 완료하지 못하였습니다');
                    }
                })
            },
            autoFocus: true, //첫번째 값을 자동 focus
            matchContains: true,
            minLength: 1, //1글자 이상 입력해야 autocomplete 작동
            delay: 100, //milliseconds
            scroll: true,
            select: function(event, ui) { //ui에는 선택된 item이 들어가 있음(custom 변수 포함)
                $("#paramCustNm").val('');
                createCust(ui.item.label, ui.item.value);
                return false;
            },
            focus:function(event, ui){return false;} //한글입력시 포커스 이동하면 서제스트가 삭제되므로 focus처리
        });
    });
    //자동화 기능_user(직원)_유효성
    let userArr = [];
    function createUser(lab,val) {
        let isResult = false;
        //중복 확인
        $.each(userArr,function(i,value){
            if(value == val) {
                isResult = true;
                alert("중복 되었습니다");
                return;
            }
        });
        if(!isResult) {
            let appendUser = $('#appendUser');
            if(!isEmpty($('#appendUser').text())) {
                lab = ', '+lab;
            }
            appendUser.append(lab);
            userArr.push(val);
            console.log(userArr);
        }
    }
    //user(직원) 삭제 버튼
    function fn_deleteUser() {
        $('#appendUser').empty();
        userArr = [];
    }

    //자동화 기능_cust(고객)_유효성
    let custArr = [];
    function createCust(lab,val) {
        let isResult = false;
        //중복 확인
        $.each(custArr,function(i,value){
            if(value == val) {
                isResult = true;
                alert("중복 되었습니다");
                return;
            }
        });
        if(!isResult) {
            let appendCust = $('#appendCust');
            if(!isEmpty($('#appendCust').text())) {
                lab = ', '+lab;
            }
            appendCust.append(lab);
            custArr.push(val);
            console.log(custArr);
        }
    }
    //cust(고객) 삭제 버튼
    function fn_deleteCust() {
        $('#appendCust').empty();
        custArr = [];
    }

//validate 공통
function isEmpty(str) {
    if(typeof str == "undefined" || str == null || str == "")
        return true;
    else
        return false;
}

//유효성 검사
function validate() {
    let isResult = true;
    //회의 구분
    if(isEmpty($('#frm #meetSe option:selected').val())){
        alert("회의 구분이 입력되지 않았습니다");
        $("#meetSe").focus();
        isResult = false;
        return isResult;
    }
    //시간+분
    if(isEmpty($('#frm #meetHhMi option:selected').val())){
        alert("시간이 입력되지 않았습니다");
        $("#meetHhMi").focus();
        isResult = false;
        return isResult;
    }
    //직원
    if(userArr.length < 1) {
        alert("직원을 입력하시오");
        $('#paramUserNm').focus();
        isResult = false;
        return isResult;
    }
    //고객
    if(custArr.length < 1) {
        alert("고객을 입력하시오");
        $('#paramCustNm').focus();
        isResult = false;
        return isResult;
    }
    //일정 제목
    if(isEmpty($('#meetTitle').val())) {
        alert("제목을 입력하시오");
        $('#meetTitle').focus();
        isResult = false;
        return isResult;
    }
    //일정 내용
    if($('#meetCn').val().length == 0) {
        alert("일정내용을 입력하시오");
        $('#meetCn').focus();
        isResult = false;
        return isResult;
    }
    //장소
    if(isEmpty($('#meetLoc').val())) {
        alert("장소를 입력하시오");
        $('#meetLoc').focus();
        isResult = false;
        return isResult;
    }
    if(!isResult) {
        isResult = true;
    }
    return isResult;
}
//일정 등록
function fn_insert() {
    if (validate()) {
        if (confirm("정말 등록 하시겠습니까?")) {
            $('#userSeqs').val(userArr);
            $('#custSeqs').val(custArr);
            let params = $('#frm').serialize();
            let url = '/calendar/calendarRegistProc.do';
            $.ajax({
                type: "POST",
                url: url,
                traditional: true,	//ajax 배열 넘기기 옵션
                data: params,
                dataType: "json",
                success: function (data) {
                    $('#frm').attr({
                        action: '/calendar/calendarView.do'
                        ,method: 'post'
                        ,target: '_self'
                    }).submit();
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }
    }
}
//일정 등록 취소
function fn_cancel() {
    location.href='/calendar/calendarView.do';
}
</script>
</html>