<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.code.main.meeting.mapper.MeetingMapper">
    <select id="getMeetingTotalRows" resultType="int" parameterType="java.util.Map">
        select count(*) as cnt
        from tbl_meet
    </select>

    <select id="getMeetingList" resultType="kr.code.main.meeting.vo.MeetingVO$Meeting" parameterType="java.util.Map">
    <![CDATA[
        SELECT *
        FROM tbl_meet
        INNER JOIN tbl_meet_join
        ON tbl_meet.meet_id = tbl_meet_join.meet_id
        ORDER BY tbl_meet.meet_id DESC;
    ]]>
    </select>

    <select id="getMeetingDetail" resultType="kr.code.main.meeting.vo.MeetingVO$Meeting" parameterType="java.util.Map">
        <![CDATA[
        select *
        from tbl_meet
        where meet_id = #{meetId}
        ]]>
    </select>

    <insert id="writeMeeting" parameterType="kr.code.main.meeting.vo.MeetingVO$Meeting">

        insert into tbl_meet(meet_title, meet_cn, meet_date, meet_loc, first_rst_id, first_rst_date)

        values(#{meetTitle}, #{ meetCn}, #{ meetDate}, #{meetLoc}, #{firstRstId}, #{firstRstDate})

        insert into tbl_meet_join(meetId, useYn, firstRstDate, firstRstId, lastRstDate, lastRstId)

        values(#{meet_id}, #{first_rst_id}, #{first_rst_date}, #{last_rst_date}, #{last_rst_id})

    </insert>

    <delete id="deleteMeeting" parameterType="java.util.Map">

    delete from tbl_meet where meet_id = #{meetId}

    </delete>

    <update id="updateMeeting" parameterType="kr.code.main.meeting.vo.MeetingVO$Meeting">

    update tbl_meet
    <set>
        <if test="meet_title neq null and meet_title neq ''">
            meet_title = #{meetTitle},
        </if>
        <if test="meet_user_id neq null and meet_title neq ''">
            meet_user_id = #{meetUserId},
        </if>
        <if test="meet_user_id neq null and meet_title neq ''">
            meet_user_id = #{meetUserId},
        </if>
        <if test="meet_date neq null and meet_title neq ''">
            meet_date = #{meetDate},
        </if>
        <if test="meet_loc neq null and meet_title neq ''">
            meet_loc = #{meetLoc},
        </if>
        <if test="meet_cn neq null and meet_title neq ''">
            meet_cn = #{meetCn},
        </if>
        update_date = now()
    </set>
    where meet_id = #{meetId}

    </update>

</mapper>