<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="mosh-preloader"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                            <!-- Logo -->
<!--                            <a class="navbar-brand" href="/index"><img th:src="@{/img/core-img/logo.png}" alt="logo"></a>-->
                            <span class="navbar-brand section-heading"><h2>CRM</h2></span>

                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar"
                                    aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                                <ul class="navbar-nav animated" id="nav">
                                    <li class="nav-item active"><a class="nav-link" th:href="@{/index}">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="moshDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">고객 관리</a>
                                            <div class="dropdown-menu" aria-labelledby="moshDropdown">
                                                <a class="dropdown-item" href="html.html" th:href="@{/customer/create}">고객 정보 생성</a>
                                                <a class="dropdown-item" href="html.html" th:href="@{/customer/list}">고객 정보 리스트</a>
<!--                                                <div class="dropdown-divider"></div>-->
<!--                                                <a class="dropdown-item" href="javascript:void(0);" th:text="'검색 키워드: '+${session.keyword}" style="color: black">Elements</a>-->
                                            </div>
                                    </li>
<!--                                    <li class="nav-item"><a class="nav-link" th:href="@{/customer/create}">고객 관리</a></li>-->
                                    <li class="nav-item"><a class="nav-link" th:href="@{/meet}">회의 관리</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/calendar/calendarView}">일정 관리</a></li>
                                    <li class="nav-item"><a class="nav-link" th:href="@{/user/admin}">관리자 페이지</a></li>
                                </ul>
                                <!-- Search Form Area Start -->
                                <div class="search-form-area animated">
                                    <form action="#" method="post" id="search-mini-form">
                                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
                                        <button type="submit" class="d-none"><img th:src="@{/img/core-img/search-icon.png}" alt="Search"></button>
                                    </form>
                                </div>
                                <!-- Search btn -->
                                <div class="search-button">
                                    <a href="#" id="search-btn"><img th:src="@{/img/core-img/search-icon.png}" alt="Search"></a>
                                </div>
                                <!-- Login/Register btn -->
                                <div class="login-register-btn">
                                    <th:block th:if="${session.user != null}">
                                        <a th:href="@{/user/login}" style="color: white;" disabled>[[${session.user.userName}]]</a>
                                    </th:block>
                                    <th:block th:if="${session.user == null}">
                                        <a th:href="@{/user/login}">Login</a>
                                    </th:block>
<!--                                    <a th:href="@{/user/login}">Login</a>-->
                                    <span>&nbsp/&nbsp</span>
                                    <a th:href="@{/user/join}">Register</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="mosh-breadcumb-area" th:style="'background-image: url(' + @{/img/core-img/breadcumb.png} + ');'">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumbContent">
                        <h2 class="bradcumbTitle" style="color: white;text-shadow: 4px 2px 2px #3a4456;">Blog</h2>
                        <nav aria-label="breadcrumb">
<!--                            <ol class="breadcrumb">-->
<!--                                <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                                <li class="breadcrumb-item active" aria-current="page">The News</li>-->
<!--                            </ol>-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <script>
        function logOut(){
            const isConfirm = confirm('로그아웃 하시겠습니까?');
            if(isConfirm) {
                location.href = '/logout';
            }
        }

        // 고객 정보 비동기 통신
        $('#search-mini-form').submit(function(e) {
            e.preventDefault();

            let searchKey = $('#search-mini-form').serialize();
            location.href= `/customer/search?${searchKey}&currentPage=1`;
        });


        function menuView(url) {
            $.ajax({
                type : "POST",
                url : url,
                data : "",
                dataType : "json",
                success : function(data) {
                    alert("11111111111111111111111111");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("통신 실패")
                }
            });
        }

    </script>
</div>
</html>
