<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <!-- ***** Preloader Start ***** -->
<!--    <div id="preloader">-->
<!--        <div class="mosh-preloader"></div>-->
<!--    </div>-->

    <!-- ***** Header Area Start ***** -->
    <header class="header_area clearfix">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <!-- Menu Area Start -->
                <div class="col-12 h-100">
                    <div class="menu_area h-100">
                        <nav class="navbar h-100 navbar-expand-lg align-items-center">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/index"><img th:src="@{/img/core-img/logo.png}" alt="logo"></a>

                            <!-- Menu Area -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                                <ul class="navbar-nav animated" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="moshDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                        <div class="dropdown-menu" aria-labelledby="moshDropdown">
                                            <a class="dropdown-item" href="index.html">Home</a>
                                            <a class="dropdown-item" href="about.html">About Us</a>
                                            <a class="dropdown-item" href="services.html">Services</a>
                                            <a class="dropdown-item" href="portfolio.html">Portfolio</a>
                                            <a class="dropdown-item" href="blog.html">Blog</a>
                                            <a class="dropdown-item" href="contact.html">Contact</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="elements.html">Elements</a>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
                                    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="javascript:menuView('/calendar/calendarView.do');">Calendar(작업중)</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                </ul>
                                <!-- Search Form Area Start -->
                                <div class="search-form-area animated">
                                    <form action="#" method="post">
                                        <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
                                        <button type="submit" class="d-none"><img th:src="@{/img/core-img/search-icon.png}" alt="Search"></button>
                                    </form>
                                </div>
                                <!-- Search btn -->
                                <div class="search-button">
                                    <a href="#" id="search-btn"><img th:src="@{/img/core-img/search-icon.png}" alt="Search"></a>
                                </div>
                                <!-- Login/Register btn -->
                                <div class="login-register-btn">
                                    <a href="#">Login</a>
                                    <a href="#">/ Register</a>
                                </div>
<!--                                <span class="navbar-text" style="margin-right:10px;">-->
<!--                                   <a href="javascript:void(0);" onclick="logOut();" th:style="${session.userInfo != null ? 'display:block' : 'display:none'}">로그아웃</a>-->
<!--                                   <a href="/login" th:style="${session.userInfo == null ? 'display:block' : 'display:none'}">로그인</a>-->
<!--                               </span>-->
<!--                                                    <span class="navbar-text" style="margin-right:10px;">-->
<!--                                    <a href="/mem/join" th:style="${session.userInfo == null ? 'display:block' : 'display:none'}">회원가입</a>-->
<!--                               </span>-->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Breadcumb Area Start ***** -->
    <div class="mosh-breadcumb-area" th:style="'background-image: url(' + @{/img/core-img/breadcumb.png} + ');'">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="bradcumbContent">
                        <h2 class="bradcumbTitle">Blog</h2>
                        <nav aria-label="breadcrumb">
<!--                            <ol class="breadcrumb">-->
<!--                                <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                                <li class="breadcrumb-item active" aria-current="page">The News</li>-->
<!--                            </ol>-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcumb Area End ***** -->

    <script>
        function logOut(){
            const isConfirm = confirm('로그아웃 하시겠습니까?');
            if(isConfirm) {
                location.href = '/logout';
            }
        }

        function menuView(url) {
            $.ajax({
                type : "POST",
                url : url,
                data : "",
                dataType : "json",
                success : function(data) {
                    alert("11111111111111111111111111");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("통신 실패")
                }
            });
        }

    </script>
</div>
</html>
