<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">


<div layout:fragment="content">

  <link rel="stylesheet" th:href="@{/css/customer/customer-details.css}">
  <link rel="stylesheet" th:href="@{/dist/css/lightbox.css}">

  <!-- 모달창 -->
  <div class="modal fade" id="create-result" tabindex="-1" role="dialog" aria-labelledby="createResultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createResultModalLabel">고객 정보</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 모달창 내용 -->
          <p id="create-result-text"></p>
        </div>
        <div class="modal-footer">
          <!-- 모달창 버튼 -->
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="closeModal();">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container bootdey">
    <div class="content-page">

      <div class="content">
        <div class="row">
          <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                <!-- Profile picture image-->
                <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <!-- Profile picture help block-->
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <!-- Profile picture upload button-->
                <button class="btn btn-primary" type="button">Upload new image</button>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                <form role="form" id="writeForm" method="post" action="/api/v1/customer/update">
                  <input id="customerId" name="uid" type="hidden" th:value="${customer.customerUid}">
                  <!-- Form Group (username, gender)-->
                  <div class="row gx-3 mb-3">
                    <div class="col-md-9">
                      <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                      <input class="form-control" id="inputUsername" name="name" type="text" style="color: black;"
                             th:value="${customer.customerName}" readonly>
                    </div>
                    <div class="col-md-3">
                      <label class="small mb-1" for="inputGender">Gender</label>
<!--                      <input class="form-control" id="inputGender" name="gender" type="text" style="color: black;"-->
<!--                             th:value="${customer.customerGender} == 1 ? '남자' : '여자'" readonly>-->
                      <select id="inputGender" name="gender" class="form-control"
                              th:value="${customer.customerGender}" readonly>
                        <option value="1" th:selected="${customer.customerGender == 1}">Man</option>
                        <option value="2" th:selected="${customer.customerGender == 2}">Woman</option>
                      </select>
                    </div>
                  </div>
                  <!-- Form Group (email address)-->
                  <div class="mb-3">
                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                    <input class="form-control" id="inputEmailAddress" type="email" style="color: black;"
                           placeholder="Enter your email address" th:value="${customer.customerEmail}">
                  </div>
                  <!-- Form Row-->
                  <div class="row gx-3 mb-3">
                    <!-- Form Group (phone)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="inputFirstName">Phone</label>
                      <input class="form-control" id="inputFirstName" name="phone" style="color: black;" type="tel" th:value="${customer.phoneNumber}">
                    </div>
                    <!-- Form Group (birthday)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="inputLastName">Birthday</label>
                        <input class="form-control" id="inputLastName" name="birth" type="text" style="color: black;"
                             th:value="${customer.customerBirth} == null ? 'Enter your birthday' : ${customer.customerBirth}">
                    </div>
                  </div>
                  <!-- Form Row        -->
                  <div class="row gx-3 mb-3">
                    <!-- Form Group (location1)-->
                    <div class="col-md-7">
                      <label class="small mb-1" for="inputLocation">Address</label>
                      <input class="form-control" id="inputLocation" name="address" type="text" readonly style="color: black;"
                             th:value="${customer.address}">
                    </div>
                    <!-- Form Group (postcode)-->
                    <div class="col-md-3">
                      <label class="small mb-1" for="postcode">Postcode</label>
                      <input class="form-control" id="postcode" name="postcode" type="text" style="color: black;"
                             th:value="${customer.postcode} == null ? 'Please find your address' : ${customer.postcode}">
                    </div>
                    <!-- Form Group (location2)-->
                    <div class="col-md-2">
                      <label class="small mb-1" for="search-addr">주소검색</label>
                      <input type="button" class="form-control" id="search-addr" value="검색" onclick="searchAddr();">
                    </div>
                  </div>
                  <!-- Form Group (company)-->
                  <div class="mb-3">
                    <label class="small mb-1" for="inputCompany">Company</label>
                    <input class="form-control" id="inputCompany" name="company" type="text" style="color: black;"
                           th:value="${customer.companyName} == null ? 'Enter your company' : ${customer.companyName}">
                  </div>
                  <!-- Form Row-->
                  <div class="row gx-3 mb-3">
                    <!-- Form Group (position)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="inputPosition">Position</label>
                      <select id="inputPosition" name="position" class="form-control" required>
                        <option value="">직급 선택</option>
                        <th:block th:each="pos : ${positions}">
                          <option th:value="${pos.posCode}" th:selected="${pos.posCode} == ${customer.posCode}">[[${pos.posName}]]</option>
                        </th:block>
                      </select>
                    </div>
                    <!-- Form Group (department)-->
                    <div class="col-md-6">
                      <label class="small mb-1" for="inputDepartment">Department</label>
                      <select id="inputDepartment" name="department" class="form-control" required>
                        <option value="" selected>부서 선택</option>
                        <th:block th:each="depart : ${departments}">
                          <option th:value="${depart.deptCode}" th:selected="${depart.deptCode} == ${customer.deptCode}">[[${depart.deptName}]]</option>
                        </th:block>
                      </select>
                    </div>
                  </div>
                  <hr/>
                  <!-- file drop -->
                  <div class="form-group">
                    <div class="fileDrop" style="border: 1px dotted black;">
                      <br/>
                      <br/>
                      <br/>
                      <br/>
                      <p class="text-center"><i class="fa fa-paperclip"></i> 첨부파일을 드래그해주세요.</p>
                    </div>
                  </div>
                  <div class="box-footer">
                    <ul class="mailbox-attachments clearfix uploadedFileList nav"></ul>
                  </div>
                  <hr/>
                  <div class="box-footer">
                    <button type="button" class="btn btn-primary listBtn" id="cardList"><i class="fa fa-list"></i> 목록</button>
                    <div class="pull-right">
                      <button type="reset" class="btn btn-warning" id="cancel"><i class="fa fa-reply"></i> 취소</button>
                      <button type="submit" class="btn btn-success" id="modify"><i class="fa fa-save"></i> 수정</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <div class="the-timeline">
              <form id="comment-form" role="comment-form" class="post-to-timeline">
                <input type="hidden" th:value="${customer.customerUid}" id="customerUid" name="customerUid">
                <input type="hidden" th:value="${session.user.userUid}" id="writerUid" name="writerUid">
                <input type="hidden" th:value="${session.user.userName}" id="writerName" name="writerName">
                <div class="container-fluid border">
                  <div class="mb-1">
                    <label class="small mb-1" for="commentTitle">Title</label>
                    <input type="text" class="form-control" id="commentTitle" name="commentTitle" placeholder="title"/>
                  </div>
                  <div class="mb-1">
                    <label class="small mb-1" for="comment">Contents</label>
                    <textarea class="form-control" id="comment" name="contents" style="height: 70px;margin-bottom:10px;" placeholder="Whats on your mind..."></textarea>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>
                      <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>
                      <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>
                    </div>
                    <div class="col-sm-6 text-right"><button type="submit" class="btn btn-sm btn-primary mb-1" id="commentPost">Post</button></div>
                  </div>
                </div>
              </form>
              <br><br>
              <ul class="comment the-date">
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script id="fileTemplate" type="text/x-handlebars-template">
    <li class="card nav-item" style="height: 100px; width: 100px;">
      <div class="card-body" style="height: 100%;" >
        <div class="d-flex align-items-center">
          <span class="mailbox-attachment-icon has-img">
            <img src="{{imgSrc}}" alt="Attachment" width="58" height="58">
          </span>
        </div>
        <div class="d-flex gap-2" style="height: 20%;">
          <div class="mailbox-attachment-info">
            <a href="{{originalFileUrl}}" class="mailbox-attachment-name w-50">
              <i class="fa fa-paperclip"></i>
            </a>
            <a href="{{originalFileUrl}}" class="btn btn-default pull-right delBtn w-50" style="padding-top: 0px;">
              <i class="fa fa-fw fa-remove"></i>
            </a>
          </div>
        </div>
      </div>
    </li>
  </script>

<!--  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script th:src="@{/dist/js/lightbox.js}"></script>
  <script th:src="@{/js/customer_file_upload.js}"></script>

  <script>

    function searchAddr() {

      daum.postcode.load(function(){
        new daum.Postcode({
          oncomplete: function(data) {
            console.log(data);
            let fullAddr = '';
            let extraAddr = '';

            // 사용자가 도로명 주소를 선택한 경우
            if (data.userSelectedType === 'R') {
              fullAddr = data.roadAddress;
              // 법정동이 있는 경우
              if ($.trim(data.bname).length > 0) {
                extraAddr += data.bname;
              }
            }else {
              // 지번으로 검색했을 경우
              fullAddr = data.jibunAddress;
            }
            // 빌딩 이름이 있을 경우
            if(data.buildingName !== '') {
              // 추가 주소에 내요잉 있는 경우는 쉼표처리하고 붙이고, 없으면 그냥 쓴다.
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 조합형 주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
            fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
            //우편번호
            $('#postcode').val(data.zonecode);

            //주소
            $('#inputLocation').val(fullAddr);
          }
        }).open();
      });
    }

    function closeModal() {
      // location.href="/index";
    }

    function printComments(commentList) {
      console.log(commentList);

      const html = commentList.map(comment => {
        return '<li>' +
                  '<div className="the-date">' +
                    `<span>${comment.writer}</span>&nbsp;&nbsp;` +
                    `<small>${comment.createDate}</small>` +
                  `</div>` +
                  `<h4>${comment.title}</h4>` +
                  `<p>${comment.comment}</p>` +
                `</li>`;
      });
      $('.comment.the-date').html(html);
    }

    function requestFiles() {
      const dataParams = {
        customerUid: $('#customerId').val()
      }

      $.ajax({
        url: "/api/v1/customer/attached",
        data: dataParams,
        dataType: "text",
        type: "get",
      }).done(function(data) {
        // 텍스트 데이터를 JSON 형태로 변환
        let hasFiles = JSON.parse(data);
        hasFiles.forEach(file => {
          printFiles(file); // 첨부파일 출력 메서드 호출
        })

        $(".noAttach").remove();
      })
    }

    function requestComments() {
      const dataParams = {
        customerUid: $('#customerId').val()
      }

      $.ajax({
        url: "/api/v1/customer/comment",
        data: dataParams,
        dataType: "json",
        type: "get",
      }).done(function(data) {
        // 텍스트 데이터를 JSON 형태로 변환
        // let commentList = JSON.parse(data);
        // console.log(commentList);

        if (data!= null) {
          if (data.length > 0)
          printComments(data);
        }

        $(".noAttach").remove();
      })
    }

    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      $('.bradcumbTitle').text('고객 정보 details');

      // 첨부파일 목록 얻어오기
      requestFiles();
      // 댓글 목록 얻어오기
      requestComments();

      // 파일 삭제 버튼 클릭 이벤트
      $(document).on("click", ".delBtn", function (event) {
        event.preventDefault();
        const that = $(this);
        deleteFileWrtPage(that);
      });

      // 목록 버튼 누를때
      $(document).on("click", "#cardList", function(e) {
        e.preventDefault();
        location.href="/customer/list?currentPage=1";
      });

      // 취소 버튼 누를때
      $(document).on("click", "#cancel", function(e) {
        location.reload();
      });

      // 수정 버튼 누를때
      $('#writeForm').submit(function(e) {
        e.preventDefault();
        let that = $(this);
        // 파일 정보 정리 ( hidden 속성 )
        filesSubmit(that, false);

        // 고객 정보 비동기 통신
        let url = that.attr('action');
        let method = that.attr('method');
        $.ajax({
          url: url,
          method: method,
          data: that.serialize(),
          success: function(response) {
            // 요청이 성공한 경우 처리할 코드
            $('#create-result .modal-body').html('고객 정보를 반영했습니다. ');
            // $('#create-result .modal-footer>button')
            $('#create-result').modal('show');
          },
          error: function(xhr, status, error) {
            console.log(xhr, status, error);
            // 요청이 실패한 경우 처리할 코드
            $('#create-result .modal-body').html(error);
            // $('#create-result .modal-footer>button')
            $('#create-result').modal('show');
          }
        });
      });

      $('#comment-form').submit(function(e) {
        e.preventDefault();
        let that = $(this);

        const url = '/api/v1/customer/comment';
        const method = 'POST';
        $.ajax({
          url: url,
          method: method,
          data: that.serialize(),
          success: function(response) {
            // 요청이 성공한 경우 처리할 코드
            // const commentList = JSON.parse(response);
            printComments(response);

            $('#commentTitle').val('');
            $('#comment').val('');
          },
          error: function(xhr, status, error) {
            console.log(xhr, status, error);
            // 요청이 실패한 경우 처리할 코드
            $('#create-result .modal-body').html(error);
            // $('#create-result .modal-footer>button')
            $('#create-result').modal('show');
          }
        });
      });
    });
  </script>
</div>

</html>