<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">


<div layout:fragment="content">

  <link rel="stylesheet" th:href="@{/css/customer/card-style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" >

    <!-- 모달창 이메일 -->
    <div class="modal fade" id="write-email" tabindex="-1" role="dialog" aria-labelledby="writeEmailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info">
<!--                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    <h4 class="modal-title">Get in touch<span class="glyphicon glyphicon-envelope"></span></h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal" data-email="yourmail@domain.com">
                        <div class="form-group">
                            <label class="col-sm-2" for="inputTo"><span class="glyphicon glyphicon-user"></span>To</label>
                            <div class="col-sm-10"><input type="email" class="form-control" id="inputTo" placeholder="comma separated list of recipients"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="inputSubject"><span class="glyphicon glyphicon-list-alt"></span>Subject</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12" for="inputBody"><span class="glyphicon glyphicon-list"></span>Message</label>
                            <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning pull-left">Save Draft</button>
                    <button type="button" class="btn btn-primary ">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal compose message -->

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="mb-3">
          <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2">([[${totalCustomerCount}]])</span></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
            <div><p class="mb-sm-0">Showing <span th:text=" ${startRow + 1} "></span> to <span th:text="${endRow}"></span> of <span th:text=" ${currentPage} "></span> Page</p></div>
        </div>
      </div>
    </div>
    <div th:if="${totalCustomerCount > 0}">
        <div class="row">
            <div class="col-xl-3 col-sm-6" th:each="card : ${cardList}">
                <div class="card" style="height: 360px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
            <!--              <div><img th:src="@{https://bootdey.com/img/Content/avatar/avatar1.png}" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>-->
                            <div class="avatar-md">
                                <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle">
                                    <i class="bx bxs-user-circle bx-lg"></i>
                                </div>
                            </div>
                            <div class="flex-1 ms-3 ml-15">
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">[[${card.name}]]</a></h5>
                                <th:block th:if="${card.company != null}"><div class="badge badge-soft-success mb-0">[[${card.company}]]</div></th:block>
                                <th:block th:if="${card.company == null}"><div class="badge badge-soft-success mb-0">회사정보 없음</div></th:block>
                            </div>
                        </div>
                        <div class="d-flex gap-2 pt-4">
                            <button type="button" class="btn btn-soft-primary btn-sm w-50"
                                    th:if="${ card.uid != null  }" th:onclick="showProfile([[${card.uid}]])">
                                <i class="fa fa-user me-1"></i>
                                Profile
                            </button>
                            <button type="button" class="btn btn-primary btn-sm w-50"
                                    th:if="${ card.email != null }" th:onclick="writeEmail([[${card.email}]])">
                                <i class="fa fa-mail-reply me-1"></i>
                                Contact
                            </button>
                        </div>
                        <div class="mt-3 pt-1">
                            <p class="text-muted mb-0 pr-2"><i class="mdi mdi-phone font-size-20 align-middle pe-2 text-primary"></i> [[${card.phone}]]</p>
                            <p class="text-muted mb-0 mt-2"><i class="mdi mdi-email font-size-20 align-middle pe-2 text-primary"></i> [[${card.email}]]</p>
                            <p class="text-muted mb-0 mt-2"><i class="mdi mdi-google-maps font-size-20 align-middle pe-2 text-primary"></i> [[${card.address}]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 align-items-center pb-4">
            <div class="col-12">
                <!--          pagination을 중앙 정렬하게 만든다.-->
                <div class="d-flex justify-content-center">
                    <ul class="pagination mb-sm-0">
                        <li class="page-item mr-5">
                            <th:block th:with="prevPage = ${currentPage - 1}" th:if="${hasPrevPage eq 'true' }">
                                <a th:href="@{/customer/list(currentPage=${prevPage})}" class="page-link"><i class="mdi mdi-chevron-left"><i class="mdi mdi-chevron-left"></i></i></a>
                            </th:block>
                        </li>
                        <li class="page-item active"><a href="#" class="page-link">Current ([[${currentPage}]])</a></li>
                        <li class="page-item ml-5">
                            <th:block th:with="nextPage = ${currentPage + 1}" th:if="${hasNextPage eq 'true' }">
                                <a th:href="@{/customer/list(currentPage=${nextPage})}" class="page-link"><i class="mdi mdi-chevron-right"><i class="mdi mdi-chevron-right"></i></i></a>
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${totalCustomerCount > 0}">
        <div class="col-12">
            <section class="subscribe-newsletter-content section_padding_50_200">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="subscribe-newsletter-content text-center wow fadeIn" data-wow-delay="0.5s">
                                <h2>데이타가 존재하지 않습니다.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
  </div>

  <script>

    function closeModal() {
      location.href="/index";
    }

    function showProfile(customerUid) {
        location.href="/customer/details?uid="+customerUid;
    }

    function writeEmail(customerEmail) {


        $('#write-email #inputTo').val(customerEmail);
        $('#write-email').modal('show');
    }

    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
      $('.bradcumbTitle').text('고객 정보 리스트');


    });
  </script>
</div>

</html>